header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #1a73e8;
}


main {
  display: flex;
  gap: 20px;
}


.left {
  display: flex;
  gap: 20px;
  flex: 2;
}

.StockList {
  flex: 2;
  border-radius: 8px;
  padding: 15px;
}


.TransactionHistory {
  flex: 1;
  border-radius: 8px;
  padding: 15px;
}


.right {
  flex: 1;
  border-radius: 8px;
  padding: 15px;
}
